@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive, sans-serif;
    --fonte3: 'Sriracha', cursive, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: azure;
    font-family: var(--fonte1);
}

header{
    color: white;
    background-color: black;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
    font-size: 1.4vw;
}

.links{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.links:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: green;
    color: white;
    box-shadow: inset 4px 4px 6px 3px rgba(0, 0, 0, 0.39);

    background-attachment: fixed;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right bottom;
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 1px black;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}