@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: azure;
}

header{
    color: white;
    background-color: black;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

.links{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.links:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: green;
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.288);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
}